/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/


#header {
  	z-index: 9999;
  	position: fixed;
  	top: 0px;
  	left: 0px;
}
.btn-success{
	background-color: #5cb85c;
    border-color: #4cae4c
}
.btn-info{
	background-color: #5bc0de;
    border-color: #46b8da;
}


body{
	padding-top: 70px
}

span{
	color: white;
	font-size: 20px;
	padding-top: 10px;
}

.container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.row{
	margin-left: -15px;
    margin-right: -15px;
}

.col-xs-9{
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}

message{
	color: green;
}
